.vs/DatingApp/config/applicationhost.config
.vs/DatingApp/v16/.suo
DatingApp.API/datingApp.db-shm
DatingApp.API/datingApp.db-wal
DatingApp.API/DatingApp.API.csproj.user
.vs/DatingApp/DesignTimeBuild/.dtbcache.v2
